{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dojo-list</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="{% static "js/angular/angular.js" %}"></script>
		<script src="{% static "js/angular/angular-route.js" %}"></script>
		<script src="{% static "js/angular/underscore-min.js" %}"></script>
		<script src="{% static "js/angular/restangular.js" %}"></script>
		<script src="{% static "js/app/app.js" %}"></script>
		<style type="text/css">
			.well{margin-bottom: 0.75em; }
		</style>
	</head>
	<body ng-app="dojoApp">
	{% verbatim %}
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">
				        Dojo-list
				      </a>
				    </div>
				    <div class="collapse navbar-collapse navbar-ex1-collapse">
					    <ul class="nav navbar-nav navbar-right">
					    <li><a href="/accounts/logout">Wyloguj</a></li>
					    </ul>
				  </div>
				</nav>
			</div>
			<div class="row" ng-controller="baseCtrl">
				<div class="col-sm-4">
					<div class="list-group">
						<div class="list-group-item">
							<form name="listAdd" ng-submit="addList(list)" novalidation>
								<input name="name" ng-model="list.name" class="form-control" required="required" placeholder="Dodaj nową listę">
							</form>
						</div>
						<div class="list-group-item" ng-repeat="item in data.list">
							<div class="row" ng-if="item.id != edited">
								<div class="col-xs-2">
									<span ng-if="$first" class="glyphicon glyphicon-inbox"></span>
									<span ng-if="!$first" class="glyphicon glyphicon-remove-circle" ng-click="deleteList(item)"></span>
								</div>
								<div class="col-xs-7" ng-click="redirect(item.id)">
									{{item.name}}	
								</div>
								<div class="col-xs-3">
									<span class="badge progress-bar-success pull-right">{{item.todo}}</span>
									<span class="glyphicon glyphicon-pencil" ng-click=" !$first ? setEditedList(item.id) : 0 "></span>	
								</div>
							</div>
							<div class="row" ng-if="item.id == edited">
								<div class="col-sm-12">
									<form name="listForm" ng-submit="saveChanges(item)" novalidation>
										<input name="listName" ng-model="item.name" class="form-control" required="required">
									</form>
								</div>
							</div>
						</div>  
					</div>
				</div>	
				<div class="col-sm-8" ng-controller="actionListCtrl">
					<div class="panel panel-default">
			  			<div class="panel-body">
			  			<form novalidation ng-submit="addAction(action)">
			  				<input ng-model="action.text" class="form-control" required="required" placeholder="Dodaj nową rzecz do zrobienia" >		
			  			</form>
			  			</div>
					</div>	

					<div class="well well-sm" ng-repeat="item in actions | orderBy:'done'">
						<div class="row" ng-if="item.id != edited">
							<div class="col-xs-9" ng-dblclick="editAction(item.id)">
								<span class="glyphicon glyphicon-remove-circle" ng-click="deleteAction(item)"></span>&nbsp
			  					{{item.text}}
			  				</div>
			  				<div class="col-xs-3 text-right">
								<input type="checkbox" ng-model="item.done" ng-click="saveAction(item)">
			  				</div>
						</div>
						<div class="row" ng-if="item.id == edited">
							<div class="col-sm-12">
							<form novalidation ng-submit="saveAction(item)">
								<input name="listName" ng-model="item.text" class="form-control" required="required">
							</form>
							</div>
						</div>
					</div>		
				</div>	
			</div>
		</div>
	{% endverbatim %}
		<script type="text/javascript">
			angular.module('dojoApp')
				.config(['$httpProvider', function($httpProvider) {
	    			$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
				}]);
		</script>
	</body>
</html>